
.icon-thin-0001_compose_write_pencil_new {
	background-image: url('png/thin-0001_compose_write_pencil_new.png');
	background-repeat: no-repeat;
}



.icon-thin-0002_write_pencil_new_edit {
	background-image: url('png/thin-0002_write_pencil_new_edit.png');
	background-repeat: no-repeat;
}



.icon-thin-0003_write_pencil_new_edit {
	background-image: url('png/thin-0003_write_pencil_new_edit.png');
	background-repeat: no-repeat;
}



.icon-thin-0004_pencil_ruler_drawing {
	background-image: url('png/thin-0004_pencil_ruler_drawing.png');
	background-repeat: no-repeat;
}



.icon-thin-0005_write_pen_handwriting_signing {
	background-image: url('png/thin-0005_write_pen_handwriting_signing.png');
	background-repeat: no-repeat;
}



.icon-thin-0006_book_writing_reading_read_manual {
	background-image: url('png/thin-0006_book_writing_reading_read_manual.png');
	background-repeat: no-repeat;
}



.icon-thin-0007_book_reading_read_bookmark {
	background-image: url('png/thin-0007_book_reading_read_bookmark.png');
	background-repeat: no-repeat;
}



.icon-thin-0008_book_reading_read_manual {
	background-image: url('png/thin-0008_book_reading_read_manual.png');
	background-repeat: no-repeat;
}



.icon-thin-0009_book_reading_read_manual {
	background-image: url('png/thin-0009_book_reading_read_manual.png');
	background-repeat: no-repeat;
}



.icon-thin-0010_newspaper_reading_news {
	background-image: url('png/thin-0010_newspaper_reading_news.png');
	background-repeat: no-repeat;
}



.icon-thin-0011_reading_glasses {
	background-image: url('png/thin-0011_reading_glasses.png');
	background-repeat: no-repeat;
}



.icon-thin-0012_notebook_paper_certificate {
	background-image: url('png/thin-0012_notebook_paper_certificate.png');
	background-repeat: no-repeat;
}



.icon-thin-0013_notebook_paper {
	background-image: url('png/thin-0013_notebook_paper.png');
	background-repeat: no-repeat;
}



.icon-thin-0014_notebook_paper_todo {
	background-image: url('png/thin-0014_notebook_paper_todo.png');
	background-repeat: no-repeat;
}



.icon-thin-0015_fountain_pen {
	background-image: url('png/thin-0015_fountain_pen.png');
	background-repeat: no-repeat;
}



.icon-thin-0016_bookmarks_reading_book {
	background-image: url('png/thin-0016_bookmarks_reading_book.png');
	background-repeat: no-repeat;
}



.icon-thin-0017_office_archive {
	background-image: url('png/thin-0017_office_archive.png');
	background-repeat: no-repeat;
}



.icon-thin-0018_office_trash_bin {
	background-image: url('png/thin-0018_office_trash_bin.png');
	background-repeat: no-repeat;
}



.icon-thin-0019_mobile_iphone {
	background-image: url('png/thin-0019_mobile_iphone.png');
	background-repeat: no-repeat;
}



.icon-thin-0020_ipad_reading_mobile {
	background-image: url('png/thin-0020_ipad_reading_mobile.png');
	background-repeat: no-repeat;
}



.icon-thin-0021_calendar_month_day_planner {
	background-image: url('png/thin-0021_calendar_month_day_planner.png');
	background-repeat: no-repeat;
}



.icon-thin-0022_calendar_month_day_planner {
	background-image: url('png/thin-0022_calendar_month_day_planner.png');
	background-repeat: no-repeat;
}



.icon-thin-0023_calendar_month_day_planner_events {
	background-image: url('png/thin-0023_calendar_month_day_planner_events.png');
	background-repeat: no-repeat;
}



.icon-thin-0024_calendar_month_day_planner_events {
	background-image: url('png/thin-0024_calendar_month_day_planner_events.png');
	background-repeat: no-repeat;
}



.icon-thin-0025_alarm_clock_ringer_time_morning {
	background-image: url('png/thin-0025_alarm_clock_ringer_time_morning.png');
	background-repeat: no-repeat;
}



.icon-thin-0026_time_watch_clock {
	background-image: url('png/thin-0026_time_watch_clock.png');
	background-repeat: no-repeat;
}



.icon-thin-0027_stopwatch_timer_running_time {
	background-image: url('png/thin-0027_stopwatch_timer_running_time.png');
	background-repeat: no-repeat;
}



.icon-thin-0028_time_watch_clock_wall {
	background-image: url('png/thin-0028_time_watch_clock_wall.png');
	background-repeat: no-repeat;
}



.icon-thin-0029_time_watch_clock_wall {
	background-image: url('png/thin-0029_time_watch_clock_wall.png');
	background-repeat: no-repeat;
}



.icon-thin-0030_wrist_watch_clock_time {
	background-image: url('png/thin-0030_wrist_watch_clock_time.png');
	background-repeat: no-repeat;
}



.icon-thin-0031_pin_bookmark {
	background-image: url('png/thin-0031_pin_bookmark.png');
	background-repeat: no-repeat;
}



.icon-thin-0032_flag {
	background-image: url('png/thin-0032_flag.png');
	background-repeat: no-repeat;
}



.icon-thin-0033_search_find_zoom {
	background-image: url('png/thin-0033_search_find_zoom.png');
	background-repeat: no-repeat;
}



.icon-thin-0034_search_find_zoom {
	background-image: url('png/thin-0034_search_find_zoom.png');
	background-repeat: no-repeat;
}



.icon-thin-0035_bookmark_tag {
	background-image: url('png/thin-0035_bookmark_tag.png');
	background-repeat: no-repeat;
}



.icon-thin-0036_share_facebook_social {
	background-image: url('png/thin-0036_share_facebook_social.png');
	background-repeat: no-repeat;
}



.icon-thin-0037_smiley_happy_like_face {
	background-image: url('png/thin-0037_smiley_happy_like_face.png');
	background-repeat: no-repeat;
}



.icon-thin-0038_smiley_neutral_face {
	background-image: url('png/thin-0038_smiley_neutral_face.png');
	background-repeat: no-repeat;
}



.icon-thin-0039_smiley_sad_face_unhappy {
	background-image: url('png/thin-0039_smiley_sad_face_unhappy.png');
	background-repeat: no-repeat;
}



.icon-thin-0040_exit_logout_door_emergency_outside {
	background-image: url('png/thin-0040_exit_logout_door_emergency_outside.png');
	background-repeat: no-repeat;
}



.icon-thin-0041_filter_funnel {
	background-image: url('png/thin-0041_filter_funnel.png');
	background-repeat: no-repeat;
}



.icon-thin-0042_attachment {
	background-image: url('png/thin-0042_attachment.png');
	background-repeat: no-repeat;
}



.icon-thin-0043_eye_visibility_show_visible {
	background-image: url('png/thin-0043_eye_visibility_show_visible.png');
	background-repeat: no-repeat;
}



.icon-thin-0044_eye_visibility_hide_invisible {
	background-image: url('png/thin-0044_eye_visibility_hide_invisible.png');
	background-repeat: no-repeat;
}



.icon-thin-0045_home_house {
	background-image: url('png/thin-0045_home_house.png');
	background-repeat: no-repeat;
}



.icon-thin-0046_home_house {
	background-image: url('png/thin-0046_home_house.png');
	background-repeat: no-repeat;
}



.icon-thin-0047_home_flat {
	background-image: url('png/thin-0047_home_flat.png');
	background-repeat: no-repeat;
}



.icon-thin-0048_factory_work {
	background-image: url('png/thin-0048_factory_work.png');
	background-repeat: no-repeat;
}



.icon-thin-0049_settings_panel_equalizer_preferences {
	background-image: url('png/thin-0049_settings_panel_equalizer_preferences.png');
	background-repeat: no-repeat;
}



.icon-thin-0050_settings_panel_equalizer_preferences {
	background-image: url('png/thin-0050_settings_panel_equalizer_preferences.png');
	background-repeat: no-repeat;
}



.icon-thin-0051_settings_gear_preferences {
	background-image: url('png/thin-0051_settings_gear_preferences.png');
	background-repeat: no-repeat;
}



.icon-thin-0052_settings_gears_preferences_gearbox {
	background-image: url('png/thin-0052_settings_gears_preferences_gearbox.png');
	background-repeat: no-repeat;
}



.icon-thin-0053_settings_tools_pipe {
	background-image: url('png/thin-0053_settings_tools_pipe.png');
	background-repeat: no-repeat;
}



.icon-thin-0054_settings_tools_configuration_preferences {
	background-image: url('png/thin-0054_settings_tools_configuration_preferences.png');
	background-repeat: no-repeat;
}



.icon-thin-0055_settings_tools_configuration_preferences {
	background-image: url('png/thin-0055_settings_tools_configuration_preferences.png');
	background-repeat: no-repeat;
}



.icon-thin-0056_bin_trash_recycle_delete_garbage_empty {
	background-image: url('png/thin-0056_bin_trash_recycle_delete_garbage_empty.png');
	background-repeat: no-repeat;
}



.icon-thin-0057_bin_trash_recycle_delete_garbage_full {
	background-image: url('png/thin-0057_bin_trash_recycle_delete_garbage_full.png');
	background-repeat: no-repeat;
}



.icon-thin-0058_bin_trash_recycle_delete_garbage {
	background-image: url('png/thin-0058_bin_trash_recycle_delete_garbage.png');
	background-repeat: no-repeat;
}



.icon-thin-0059_error_warning_danger_stop {
	background-image: url('png/thin-0059_error_warning_danger_stop.png');
	background-repeat: no-repeat;
}



.icon-thin-0060_error_warning_danger_stop_delete_exit {
	background-image: url('png/thin-0060_error_warning_danger_stop_delete_exit.png');
	background-repeat: no-repeat;
}



.icon-thin-0061_error_warning_alert_attention {
	background-image: url('png/thin-0061_error_warning_alert_attention.png');
	background-repeat: no-repeat;
}



.icon-thin-0062_unable_unavailable_error {
	background-image: url('png/thin-0062_unable_unavailable_error.png');
	background-repeat: no-repeat;
}



.icon-thin-0063_text_line_view {
	background-image: url('png/thin-0063_text_line_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0064_bullet_list_view {
	background-image: url('png/thin-0064_bullet_list_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0065_bullet_list_view {
	background-image: url('png/thin-0065_bullet_list_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0066_grid_view {
	background-image: url('png/thin-0066_grid_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0067_line_thumb_view {
	background-image: url('png/thin-0067_line_thumb_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0068_text_image_article_view {
	background-image: url('png/thin-0068_text_image_article_view.png');
	background-repeat: no-repeat;
}



.icon-thin-0069_box_load_package_module {
	background-image: url('png/thin-0069_box_load_package_module.png');
	background-repeat: no-repeat;
}



.icon-thin-0069a_menu_hambuger {
	background-image: url('png/thin-0069a_menu_hambuger.png');
	background-repeat: no-repeat;
}



.icon-thin-0274_chat_message_comment_bubble {
	background-image: url('png/thin-0274_chat_message_comment_bubble.png');
	background-repeat: no-repeat;
}



.icon-thin-0275_chat_message_comment_bubble_typing {
	background-image: url('png/thin-0275_chat_message_comment_bubble_typing.png');
	background-repeat: no-repeat;
}



.icon-thin-0276_chat_message_comment_bubble_add_new {
	background-image: url('png/thin-0276_chat_message_comment_bubble_add_new.png');
	background-repeat: no-repeat;
}



.icon-thin-0277_chat_message_comment_bubble_like_favorite {
	background-image: url('png/thin-0277_chat_message_comment_bubble_like_favorite.png');
	background-repeat: no-repeat;
}



.icon-thin-0278_chat_message_comment_bubble_tweet_twitter {
	background-image: url('png/thin-0278_chat_message_comment_bubble_tweet_twitter.png');
	background-repeat: no-repeat;
}



.icon-thin-0279_chat_message_comment_bubble {
	background-image: url('png/thin-0279_chat_message_comment_bubble.png');
	background-repeat: no-repeat;
}



.icon-thin-0280_chat_message_comment_bubble_reply_quote {
	background-image: url('png/thin-0280_chat_message_comment_bubble_reply_quote.png');
	background-repeat: no-repeat;
}



.icon-thin-0281_chat_message_discussion_bubble_reply_conversation {
	background-image: url('png/thin-0281_chat_message_discussion_bubble_reply_conversation.png');
	background-repeat: no-repeat;
}



.icon-thin-0282_chat_message_comment_bubble_cloud {
	background-image: url('png/thin-0282_chat_message_comment_bubble_cloud.png');
	background-repeat: no-repeat;
}



.icon-thin-0283_chat_message_comment_bubble_cloud {
	background-image: url('png/thin-0283_chat_message_comment_bubble_cloud.png');
	background-repeat: no-repeat;
}



.icon-thin-0284_message_text_like_favorite {
	background-image: url('png/thin-0284_message_text_like_favorite.png');
	background-repeat: no-repeat;
}



.icon-thin-0285_chat_message_quote_reply {
	background-image: url('png/thin-0285_chat_message_quote_reply.png');
	background-repeat: no-repeat;
}



.icon-thin-0286_mobile_message_sms {
	background-image: url('png/thin-0286_mobile_message_sms.png');
	background-repeat: no-repeat;
}



.icon-thin-0287_mobile_message_sms {
	background-image: url('png/thin-0287_mobile_message_sms.png');
	background-repeat: no-repeat;
}



.icon-thin-0288_mobile_phone_call {
	background-image: url('png/thin-0288_mobile_phone_call.png');
	background-repeat: no-repeat;
}



.icon-thin-0289_mobile_phone_call_ringing_nfc {
	background-image: url('png/thin-0289_mobile_phone_call_ringing_nfc.png');
	background-repeat: no-repeat;
}



.icon-thin-0290_phone_telephone_contact {
	background-image: url('png/thin-0290_phone_telephone_contact.png');
	background-repeat: no-repeat;
}



.icon-thin-0291_phone_mobile_contact {
	background-image: url('png/thin-0291_phone_mobile_contact.png');
	background-repeat: no-repeat;
}



.icon-thin-0292_phone_contact {
	background-image: url('png/thin-0292_phone_contact.png');
	background-repeat: no-repeat;
}



.icon-thin-0293_phone_call_number_dialer {
	background-image: url('png/thin-0293_phone_call_number_dialer.png');
	background-repeat: no-repeat;
}



.icon-thin-0294_phone_call_ringing {
	background-image: url('png/thin-0294_phone_call_ringing.png');
	background-repeat: no-repeat;
}



.icon-thin-0295_phone_hold_call {
	background-image: url('png/thin-0295_phone_hold_call.png');
	background-repeat: no-repeat;
}



.icon-thin-0296_phone_call_contact {
	background-image: url('png/thin-0296_phone_call_contact.png');
	background-repeat: no-repeat;
}



.icon-thin-0297_address_book_contacts {
	background-image: url('png/thin-0297_address_book_contacts.png');
	background-repeat: no-repeat;
}



.icon-thin-0298_address_book_contacts {
	background-image: url('png/thin-0298_address_book_contacts.png');
	background-repeat: no-repeat;
}



.icon-thin-0299_address_book_contacts {
	background-image: url('png/thin-0299_address_book_contacts.png');
	background-repeat: no-repeat;
}



.icon-thin-0300_address_book_contacts {
	background-image: url('png/thin-0300_address_book_contacts.png');
	background-repeat: no-repeat;
}



.icon-thin-0301_address_book_contacts {
	background-image: url('png/thin-0301_address_book_contacts.png');
	background-repeat: no-repeat;
}



.icon-thin-0302_sim_card {
	background-image: url('png/thin-0302_sim_card.png');
	background-repeat: no-repeat;
}



.icon-thin-0303_notification_badge {
	background-image: url('png/thin-0303_notification_badge.png');
	background-repeat: no-repeat;
}



.icon-thin-0304_chat_contact_support_help_conversation {
	background-image: url('png/thin-0304_chat_contact_support_help_conversation.png');
	background-repeat: no-repeat;
}



.icon-thin-0305_chat_message_discussion_bubble_conversation {
	background-image: url('png/thin-0305_chat_message_discussion_bubble_conversation.png');
	background-repeat: no-repeat;
}



.icon-thin-0306_chat_message_discussion_bubble_conversation {
	background-image: url('png/thin-0306_chat_message_discussion_bubble_conversation.png');
	background-repeat: no-repeat;
}



.icon-thin-0307_chat_discussion_yes_no_pro_contra_conversation {
	background-image: url('png/thin-0307_chat_discussion_yes_no_pro_contra_conversation.png');
	background-repeat: no-repeat;
}



.icon-thin-0308_support_help {
	background-image: url('png/thin-0308_support_help.png');
	background-repeat: no-repeat;
}



.icon-thin-0309_support_help_talk_call {
	background-image: url('png/thin-0309_support_help_talk_call.png');
	background-repeat: no-repeat;
}



.icon-thin-0310_support_help_talk_call {
	background-image: url('png/thin-0310_support_help_talk_call.png');
	background-repeat: no-repeat;
}



.icon-thin-0311_stamp {
	background-image: url('png/thin-0311_stamp.png');
	background-repeat: no-repeat;
}



.icon-thin-0312_post_stamp {
	background-image: url('png/thin-0312_post_stamp.png');
	background-repeat: no-repeat;
}



.icon-thin-0313_email_at_sign {
	background-image: url('png/thin-0313_email_at_sign.png');
	background-repeat: no-repeat;
}



.icon-thin-0314_email_mail_post_card {
	background-image: url('png/thin-0314_email_mail_post_card.png');
	background-repeat: no-repeat;
}



.icon-thin-0315_email_mail_post_send {
	background-image: url('png/thin-0315_email_mail_post_send.png');
	background-repeat: no-repeat;
}



.icon-thin-0316_email_mail_post_open {
	background-image: url('png/thin-0316_email_mail_post_open.png');
	background-repeat: no-repeat;
}



.icon-thin-0317_send_post_paper_plane {
	background-image: url('png/thin-0317_send_post_paper_plane.png');
	background-repeat: no-repeat;
}



.icon-thin-0318_email_attachment {
	background-image: url('png/thin-0318_email_attachment.png');
	background-repeat: no-repeat;
}



.icon-thin-0319_email_mail_post_card {
	background-image: url('png/thin-0319_email_mail_post_card.png');
	background-repeat: no-repeat;
}



.icon-thin-0320_email_mail_post_card_sent_successful {
	background-image: url('png/thin-0320_email_mail_post_card_sent_successful.png');
	background-repeat: no-repeat;
}



.icon-thin-0321_email_mail_post_at {
	background-image: url('png/thin-0321_email_mail_post_at.png');
	background-repeat: no-repeat;
}



.icon-thin-0322_mail_post_box {
	background-image: url('png/thin-0322_mail_post_box.png');
	background-repeat: no-repeat;
}



.icon-thin-0375_screen_analytics_line_graph {
	background-image: url('png/thin-0375_screen_analytics_line_graph.png');
	background-repeat: no-repeat;
}



.icon-thin-0376_screen_analytics_line_graph_growth {
	background-image: url('png/thin-0376_screen_analytics_line_graph_growth.png');
	background-repeat: no-repeat;
}



.icon-thin-0377_screen_analytics_pie_graph {
	background-image: url('png/thin-0377_screen_analytics_pie_graph.png');
	background-repeat: no-repeat;
}



.icon-thin-0378_analytics_presentation_statistics_graph {
	background-image: url('png/thin-0378_analytics_presentation_statistics_graph.png');
	background-repeat: no-repeat;
}



.icon-thin-0379_business_suitcase {
	background-image: url('png/thin-0379_business_suitcase.png');
	background-repeat: no-repeat;
}



.icon-thin-0380_line_structure_hierarchy {
	background-image: url('png/thin-0380_line_structure_hierarchy.png');
	background-repeat: no-repeat;
}



.icon-thin-0381_line_structure_relations_hierarchy {
	background-image: url('png/thin-0381_line_structure_relations_hierarchy.png');
	background-repeat: no-repeat;
}



.icon-thin-0382_graph_columns_statistics {
	background-image: url('png/thin-0382_graph_columns_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0383_graph_columns_growth_statistics {
	background-image: url('png/thin-0383_graph_columns_growth_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0384_graph_columns_drop_statistics {
	background-image: url('png/thin-0384_graph_columns_drop_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0385_graph_pie_chart_statistics {
	background-image: url('png/thin-0385_graph_pie_chart_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0386_graph_line_chart_statistics {
	background-image: url('png/thin-0386_graph_line_chart_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0387_tie_business_man {
	background-image: url('png/thin-0387_tie_business_man.png');
	background-repeat: no-repeat;
}



.icon-thin-0388_government_white_house_capitol {
	background-image: url('png/thin-0388_government_white_house_capitol.png');
	background-repeat: no-repeat;
}



.icon-thin-0389_gavel_hammer_law_judge_court {
	background-image: url('png/thin-0389_gavel_hammer_law_judge_court.png');
	background-repeat: no-repeat;
}



.icon-thin-0390_scale_justice_law_attorney {
	background-image: url('png/thin-0390_scale_justice_law_attorney.png');
	background-repeat: no-repeat;
}



.icon-thin-0391_scale_justice_law_attorney {
	background-image: url('png/thin-0391_scale_justice_law_attorney.png');
	background-repeat: no-repeat;
}



.icon-thin-0392_business_idea {
	background-image: url('png/thin-0392_business_idea.png');
	background-repeat: no-repeat;
}



.icon-thin-0393_hand_papers_payment {
	background-image: url('png/thin-0393_hand_papers_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0394_business_handshake_deal_contract_sign {
	background-image: url('png/thin-0394_business_handshake_deal_contract_sign.png');
	background-repeat: no-repeat;
}



.icon-thin-0395_analytics_graph_line_statistics {
	background-image: url('png/thin-0395_analytics_graph_line_statistics.png');
	background-repeat: no-repeat;
}



.icon-thin-0396_analytics_graph_line_statistics_stock {
	background-image: url('png/thin-0396_analytics_graph_line_statistics_stock.png');
	background-repeat: no-repeat;
}



.icon-thin-0397_analytics_graph_line_statistics_presentation_keynote {
	background-image: url('png/thin-0397_analytics_graph_line_statistics_presentation_keynote.png');
	background-repeat: no-repeat;
}



.icon-thin-0398_presentation_powerpoint_keynote_meeting {
	background-image: url('png/thin-0398_presentation_powerpoint_keynote_meeting.png');
	background-repeat: no-repeat;
}



.icon-thin-0399_meeting_presentation_speech_speaker_keynote {
	background-image: url('png/thin-0399_meeting_presentation_speech_speaker_keynote.png');
	background-repeat: no-repeat;
}



.icon-thin-0400_analytics_graph_line_statistics_stock {
	background-image: url('png/thin-0400_analytics_graph_line_statistics_stock.png');
	background-repeat: no-repeat;
}



.icon-thin-0401_graph_growth_money_stock_inflation {
	background-image: url('png/thin-0401_graph_growth_money_stock_inflation.png');
	background-repeat: no-repeat;
}



.icon-thin-0402_stock_money_growth_inflation {
	background-image: url('png/thin-0402_stock_money_growth_inflation.png');
	background-repeat: no-repeat;
}



.icon-thin-0403_money_usa_dollar {
	background-image: url('png/thin-0403_money_usa_dollar.png');
	background-repeat: no-repeat;
}



.icon-thin-0404_money_europe_euro {
	background-image: url('png/thin-0404_money_europe_euro.png');
	background-repeat: no-repeat;
}



.icon-thin-0405_money_bag_dollar {
	background-image: url('png/thin-0405_money_bag_dollar.png');
	background-repeat: no-repeat;
}



.icon-thin-0406_money_dollar_euro_currency_exchange_cash {
	background-image: url('png/thin-0406_money_dollar_euro_currency_exchange_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0407_credit_card {
	background-image: url('png/thin-0407_credit_card.png');
	background-repeat: no-repeat;
}



.icon-thin-0408_wallet_money_payment {
	background-image: url('png/thin-0408_wallet_money_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0409_wallet_credit_card_money_payment {
	background-image: url('png/thin-0409_wallet_credit_card_money_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0410_cash_register_payment {
	background-image: url('png/thin-0410_cash_register_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0411_invoice_dollar_bill_payment {
	background-image: url('png/thin-0411_invoice_dollar_bill_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0412_free {
	background-image: url('png/thin-0412_free.png');
	background-repeat: no-repeat;
}



.icon-thin-0413_money_coins_jettons_chips {
	background-image: url('png/thin-0413_money_coins_jettons_chips.png');
	background-repeat: no-repeat;
}



.icon-thin-0414_money_cash_coins_payment {
	background-image: url('png/thin-0414_money_cash_coins_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0415_saving_sale_discount_piggy_bank_pig {
	background-image: url('png/thin-0415_saving_sale_discount_piggy_bank_pig.png');
	background-repeat: no-repeat;
}



.icon-thin-0416_calculator {
	background-image: url('png/thin-0416_calculator.png');
	background-repeat: no-repeat;
}



.icon-thin-0417_calculator {
	background-image: url('png/thin-0417_calculator.png');
	background-repeat: no-repeat;
}



.icon-thin-0418_bank_pantheon {
	background-image: url('png/thin-0418_bank_pantheon.png');
	background-repeat: no-repeat;
}



.icon-thin-0419_payment_mobile_nfc_apple_pay_cashless {
	background-image: url('png/thin-0419_payment_mobile_nfc_apple_pay_cashless.png');
	background-repeat: no-repeat;
}



.icon-thin-0420_money_cash_coins_payment_dollars {
	background-image: url('png/thin-0420_money_cash_coins_payment_dollars.png');
	background-repeat: no-repeat;
}



.icon-thin-0421_money_credit_card_coins_payment {
	background-image: url('png/thin-0421_money_credit_card_coins_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0422_no_cash_payment_cashless {
	background-image: url('png/thin-0422_no_cash_payment_cashless.png');
	background-repeat: no-repeat;
}



.icon-thin-0423_coin_payment_chip {
	background-image: url('png/thin-0423_coin_payment_chip.png');
	background-repeat: no-repeat;
}



.icon-thin-0424_money_payment_dollar_cash {
	background-image: url('png/thin-0424_money_payment_dollar_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0425_money_payment_dollar_cash {
	background-image: url('png/thin-0425_money_payment_dollar_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0426_money_payment_dollars_coins_cash {
	background-image: url('png/thin-0426_money_payment_dollars_coins_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0427_money_payment_dollar_coins_chips {
	background-image: url('png/thin-0427_money_payment_dollar_coins_chips.png');
	background-repeat: no-repeat;
}



.icon-thin-0428_money_payment_dollar_bag_cash {
	background-image: url('png/thin-0428_money_payment_dollar_bag_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0429_money_payment_euro_bag_cash {
	background-image: url('png/thin-0429_money_payment_euro_bag_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0430_money_payment_dollar_coins_cash {
	background-image: url('png/thin-0430_money_payment_dollar_coins_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0431_money_atm_machine_withdrawal_cash {
	background-image: url('png/thin-0431_money_atm_machine_withdrawal_cash.png');
	background-repeat: no-repeat;
}



.icon-thin-0432_atm_machine_withdrawal_credit_card {
	background-image: url('png/thin-0432_atm_machine_withdrawal_credit_card.png');
	background-repeat: no-repeat;
}



.icon-thin-0433_money_currency_exchange {
	background-image: url('png/thin-0433_money_currency_exchange.png');
	background-repeat: no-repeat;
}



.icon-thin-0434_gold_reserve {
	background-image: url('png/thin-0434_gold_reserve.png');
	background-repeat: no-repeat;
}



.icon-thin-0435_bitcoin_money {
	background-image: url('png/thin-0435_bitcoin_money.png');
	background-repeat: no-repeat;
}



.icon-thin-0436_bitcoin_wallet_payment {
	background-image: url('png/thin-0436_bitcoin_wallet_payment.png');
	background-repeat: no-repeat;
}



.icon-thin-0436a_pound_britain_currency_money {
	background-image: url('png/thin-0436a_pound_britain_currency_money.png');
	background-repeat: no-repeat;
}



.icon-thin-0436b_pound_britain_currency_money {
	background-image: url('png/thin-0436b_pound_britain_currency_money.png');
	background-repeat: no-repeat;
}



.icon-thin-0535_navigation_location_drop_pin_map {
	background-image: url('png/thin-0535_navigation_location_drop_pin_map.png');
	background-repeat: no-repeat;
}



.icon-thin-0536_navigation_location_drop_pin_map {
	background-image: url('png/thin-0536_navigation_location_drop_pin_map.png');
	background-repeat: no-repeat;
}



.icon-thin-0537_navigation_location_drop_pin_map {
	background-image: url('png/thin-0537_navigation_location_drop_pin_map.png');
	background-repeat: no-repeat;
}



.icon-thin-0538_navigation_compass_orientation {
	background-image: url('png/thin-0538_navigation_compass_orientation.png');
	background-repeat: no-repeat;
}



.icon-thin-0539_map_path_navigation_location {
	background-image: url('png/thin-0539_map_path_navigation_location.png');
	background-repeat: no-repeat;
}



.icon-thin-0540_map_path_navigation_location_treasure_hunt {
	background-image: url('png/thin-0540_map_path_navigation_location_treasure_hunt.png');
	background-repeat: no-repeat;
}



.icon-thin-0541_path_way_road_sign {
	background-image: url('png/thin-0541_path_way_road_sign.png');
	background-repeat: no-repeat;
}



.icon-thin-0542_path_way_road_sign {
	background-image: url('png/thin-0542_path_way_road_sign.png');
	background-repeat: no-repeat;
}



.icon-thin-0543_world_earth_worldwide_location_travel {
	background-image: url('png/thin-0543_world_earth_worldwide_location_travel.png');
	background-repeat: no-repeat;
}



.icon-thin-0544_world_earth_worldwide_international_language {
	background-image: url('png/thin-0544_world_earth_worldwide_international_language.png');
	background-repeat: no-repeat;
}



.icon-thin-0545_map_travel_distance_directions {
	background-image: url('png/thin-0545_map_travel_distance_directions.png');
	background-repeat: no-repeat;
}



.icon-thin-0546_map_travel_destination_location_world {
	background-image: url('png/thin-0546_map_travel_destination_location_world.png');
	background-repeat: no-repeat;
}



.icon-thin-0547_path_travel_road {
	background-image: url('png/thin-0547_path_travel_road.png');
	background-repeat: no-repeat;
}



.icon-thin-0632_security_lock {
	background-image: url('png/thin-0632_security_lock.png');
	background-repeat: no-repeat;
}



.icon-thin-0633_security_lock_unlocked {
	background-image: url('png/thin-0633_security_lock_unlocked.png');
	background-repeat: no-repeat;
}



.icon-thin-0634_security_lock_key {
	background-image: url('png/thin-0634_security_lock_key.png');
	background-repeat: no-repeat;
}



.icon-thin-0635_anti_virus_protection_shield {
	background-image: url('png/thin-0635_anti_virus_protection_shield.png');
	background-repeat: no-repeat;
}



.icon-thin-0636_software_bug_code_vulnerability {
	background-image: url('png/thin-0636_software_bug_code_vulnerability.png');
	background-repeat: no-repeat;
}



.icon-thin-0637_fingerprint_scan_security_access {
	background-image: url('png/thin-0637_fingerprint_scan_security_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0638_network_firewall {
	background-image: url('png/thin-0638_network_firewall.png');
	background-repeat: no-repeat;
}



.icon-thin-0639_safe_security_lock {
	background-image: url('png/thin-0639_safe_security_lock.png');
	background-repeat: no-repeat;
}



.icon-thin-0640_security_lock_protected {
	background-image: url('png/thin-0640_security_lock_protected.png');
	background-repeat: no-repeat;
}



.icon-thin-0641_police_protection_sheriff_security_badge {
	background-image: url('png/thin-0641_police_protection_sheriff_security_badge.png');
	background-repeat: no-repeat;
}



.icon-thin-0642_camera_video_surveillacance_security {
	background-image: url('png/thin-0642_camera_video_surveillacance_security.png');
	background-repeat: no-repeat;
}



.icon-thin-0643_camera_video_surveillacance_security {
	background-image: url('png/thin-0643_camera_video_surveillacance_security.png');
	background-repeat: no-repeat;
}



.icon-thin-0644_suitcase_lock_security {
	background-image: url('png/thin-0644_suitcase_lock_security.png');
	background-repeat: no-repeat;
}



.icon-thin-0645_atm_passcode_keypad_password_access {
	background-image: url('png/thin-0645_atm_passcode_keypad_password_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0646_secret_passcode_keypad_password_access {
	background-image: url('png/thin-0646_secret_passcode_keypad_password_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0647_fingerprint_iphone_scan_access {
	background-image: url('png/thin-0647_fingerprint_iphone_scan_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0648_secret_passcode_keypad_password_access {
	background-image: url('png/thin-0648_secret_passcode_keypad_password_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0649_secret_passcode_keypad_password_access {
	background-image: url('png/thin-0649_secret_passcode_keypad_password_access.png');
	background-repeat: no-repeat;
}



.icon-thin-0650_gun_security_arms_police {
	background-image: url('png/thin-0650_gun_security_arms_police.png');
	background-repeat: no-repeat;
}



.icon-thin-0699_user_profile_avatar_man_male {
	background-image: url('png/thin-0699_user_profile_avatar_man_male.png');
	background-repeat: no-repeat;
}



.icon-thin-0700_user_profile_avatar_woman_female {
	background-image: url('png/thin-0700_user_profile_avatar_woman_female.png');
	background-repeat: no-repeat;
}



.icon-thin-0701_user_profile_avatar_man_male {
	background-image: url('png/thin-0701_user_profile_avatar_man_male.png');
	background-repeat: no-repeat;
}



.icon-thin-0702_user_profile_avatar_woman_female {
	background-image: url('png/thin-0702_user_profile_avatar_woman_female.png');
	background-repeat: no-repeat;
}



.icon-thin-0703_users_profile_group_two {
	background-image: url('png/thin-0703_users_profile_group_two.png');
	background-repeat: no-repeat;
}



.icon-thin-0704_users_profile_group_couple_man_woman {
	background-image: url('png/thin-0704_users_profile_group_couple_man_woman.png');
	background-repeat: no-repeat;
}



.icon-thin-0705_user_profile_security_password_permissions {
	background-image: url('png/thin-0705_user_profile_security_password_permissions.png');
	background-repeat: no-repeat;
}



.icon-thin-0706_user_profile_add_new {
	background-image: url('png/thin-0706_user_profile_add_new.png');
	background-repeat: no-repeat;
}



.icon-thin-0707_user_profile_remove_delete {
	background-image: url('png/thin-0707_user_profile_remove_delete.png');
	background-repeat: no-repeat;
}



.icon-thin-0708_user_profile {
	background-image: url('png/thin-0708_user_profile.png');
	background-repeat: no-repeat;
}



.icon-thin-0709_user_profile_avatar_man_male {
	background-image: url('png/thin-0709_user_profile_avatar_man_male.png');
	background-repeat: no-repeat;
}



.icon-thin-0710_business_tie_user_profile_avatar_man_male {
	background-image: url('png/thin-0710_business_tie_user_profile_avatar_man_male.png');
	background-repeat: no-repeat;
}



.icon-thin-0711_young_boy_user_profile_avatar_man_male {
	background-image: url('png/thin-0711_young_boy_user_profile_avatar_man_male.png');
	background-repeat: no-repeat;
}



.icon-thin-0712_user_profile_avatar_girl_woman_female {
	background-image: url('png/thin-0712_user_profile_avatar_girl_woman_female.png');
	background-repeat: no-repeat;
}



.icon-thin-0713_user_profile_back_tag {
	background-image: url('png/thin-0713_user_profile_back_tag.png');
	background-repeat: no-repeat;
}



.icon-thin-0714_identity_card_photo_user_profile {
	background-image: url('png/thin-0714_identity_card_photo_user_profile.png');
	background-repeat: no-repeat;
}



.icon-thin-0715_contact_archive_identity_card_photo_user_profile {
	background-image: url('png/thin-0715_contact_archive_identity_card_photo_user_profile.png');
	background-repeat: no-repeat;
}



.icon-thin-0716_user_profile_add_new {
	background-image: url('png/thin-0716_user_profile_add_new.png');
	background-repeat: no-repeat;
}



.icon-thin-0717_user_profile_remove_delete {
	background-image: url('png/thin-0717_user_profile_remove_delete.png');
	background-repeat: no-repeat;
}



.icon-thin-0718_user_profile_successful_check_verified {
	background-image: url('png/thin-0718_user_profile_successful_check_verified.png');
	background-repeat: no-repeat;
}



.icon-thin-0719_group_users_circle {
	background-image: url('png/thin-0719_group_users_circle.png');
	background-repeat: no-repeat;
}



.icon-thin-0720_user_location_position {
	background-image: url('png/thin-0720_user_location_position.png');
	background-repeat: no-repeat;
}



.icon-thin-0721_identity_card_photo_tag_user_profile {
	background-image: url('png/thin-0721_identity_card_photo_tag_user_profile.png');
	background-repeat: no-repeat;
}



.icon-thin-0722_profile_user_search_find {
	background-image: url('png/thin-0722_profile_user_search_find.png');
	background-repeat: no-repeat;
}



.icon-thin-0723_nurse_medicine_hospital_doctor {
	background-image: url('png/thin-0723_nurse_medicine_hospital_doctor.png');
	background-repeat: no-repeat;
}



.icon-thin-0724_policeman_security {
	background-image: url('png/thin-0724_policeman_security.png');
	background-repeat: no-repeat;
}



.icon-thin-0725_fireman_fire {
	background-image: url('png/thin-0725_fireman_fire.png');
	background-repeat: no-repeat;
}



.icon-thin-0726_doctor_surgery_hospital {
	background-image: url('png/thin-0726_doctor_surgery_hospital.png');
	background-repeat: no-repeat;
}



.icon-thin-0727_detective_criminal_sherlock_investigation {
	background-image: url('png/thin-0727_detective_criminal_sherlock_investigation.png');
	background-repeat: no-repeat;
}



.icon-thin-0728_construction_worker_site_helmet_safety {
	background-image: url('png/thin-0728_construction_worker_site_helmet_safety.png');
	background-repeat: no-repeat;
}



.icon-thin-0729_student_degree_science_university_school_graduate {
	background-image: url('png/thin-0729_student_degree_science_university_school_graduate.png');
	background-repeat: no-repeat;
}



.icon-thin-0730_support_male_phone {
	background-image: url('png/thin-0730_support_male_phone.png');
	background-repeat: no-repeat;
}



.icon-thin-0731_support_female_phone {
	background-image: url('png/thin-0731_support_female_phone.png');
	background-repeat: no-repeat;
}



.icon-thin-0732_polution_ecology_factory {
	background-image: url('png/thin-0732_polution_ecology_factory.png');
	background-repeat: no-repeat;
}



.icon-thin-0733_polution_ecology_factory {
	background-image: url('png/thin-0733_polution_ecology_factory.png');
	background-repeat: no-repeat;
}



.icon-thin-0734_polution_oil {
	background-image: url('png/thin-0734_polution_oil.png');
	background-repeat: no-repeat;
}



.icon-thin-0735_polution_oil_refinery {
	background-image: url('png/thin-0735_polution_oil_refinery.png');
	background-repeat: no-repeat;
}



.icon-thin-0736_polution_co2_emissions {
	background-image: url('png/thin-0736_polution_co2_emissions.png');
	background-repeat: no-repeat;
}



.icon-thin-0737_fuel_petrol_tank_reserve_car {
	background-image: url('png/thin-0737_fuel_petrol_tank_reserve_car.png');
	background-repeat: no-repeat;
}



.icon-thin-0738_polution_sea_water_dead_fish {
	background-image: url('png/thin-0738_polution_sea_water_dead_fish.png');
	background-repeat: no-repeat;
}



.icon-thin-0739_electricity_high_voltage_landline {
	background-image: url('png/thin-0739_electricity_high_voltage_landline.png');
	background-repeat: no-repeat;
}



.icon-thin-0740_water_hydrant_fire {
	background-image: url('png/thin-0740_water_hydrant_fire.png');
	background-repeat: no-repeat;
}



.icon-thin-0741_water_pipe_drink {
	background-image: url('png/thin-0741_water_pipe_drink.png');
	background-repeat: no-repeat;
}



.icon-thin-0742_wind_energy_power_turbines {
	background-image: url('png/thin-0742_wind_energy_power_turbines.png');
	background-repeat: no-repeat;
}



.icon-thin-0743_sun_energy_power_electricity {
	background-image: url('png/thin-0743_sun_energy_power_electricity.png');
	background-repeat: no-repeat;
}



.icon-thin-0744_sun_clouds_weather {
	background-image: url('png/thin-0744_sun_clouds_weather.png');
	background-repeat: no-repeat;
}



.icon-thin-0745_home_energy_efficient_eco {
	background-image: url('png/thin-0745_home_energy_efficient_eco.png');
	background-repeat: no-repeat;
}



.icon-thin-0746_home_energy_efficient_eco {
	background-image: url('png/thin-0746_home_energy_efficient_eco.png');
	background-repeat: no-repeat;
}



.icon-thin-0747_home_energy_heating_cooling_aircondition {
	background-image: url('png/thin-0747_home_energy_heating_cooling_aircondition.png');
	background-repeat: no-repeat;
}



.icon-thin-0748_home_energy_heating_winter_fire {
	background-image: url('png/thin-0748_home_energy_heating_winter_fire.png');
	background-repeat: no-repeat;
}



.icon-thin-0749_ecology_earth_polution_efficiency_green_energy {
	background-image: url('png/thin-0749_ecology_earth_polution_efficiency_green_energy.png');
	background-repeat: no-repeat;
}



.icon-thin-0750_ecology_earth_clean_green_energy {
	background-image: url('png/thin-0750_ecology_earth_clean_green_energy.png');
	background-repeat: no-repeat;
}



.icon-thin-0751_rechargeable_batteries_recycling {
	background-image: url('png/thin-0751_rechargeable_batteries_recycling.png');
	background-repeat: no-repeat;
}



.icon-thin-0752_ecology_car_clean_green_energy {
	background-image: url('png/thin-0752_ecology_car_clean_green_energy.png');
	background-repeat: no-repeat;
}



.icon-thin-0753_electro_hybrid_tesla_ecology_car_clean_green_energy {
	background-image: url('png/thin-0753_electro_hybrid_tesla_ecology_car_clean_green_energy.png');
	background-repeat: no-repeat;
}



.icon-thin-0754_electro_hybrid_tesla_ecology_car_clean_green_energy {
	background-image: url('png/thin-0754_electro_hybrid_tesla_ecology_car_clean_green_energy.png');
	background-repeat: no-repeat;
}



.icon-thin-0755_ecology_environment_forest_tree_green_park {
	background-image: url('png/thin-0755_ecology_environment_forest_tree_green_park.png');
	background-repeat: no-repeat;
}



.icon-thin-0756_ecology_environment_forest_tree_green_park {
	background-image: url('png/thin-0756_ecology_environment_forest_tree_green_park.png');
	background-repeat: no-repeat;
}



.icon-thin-0757_ecology_environment_green {
	background-image: url('png/thin-0757_ecology_environment_green.png');
	background-repeat: no-repeat;
}



.icon-thin-0758_energy_efficiency_saving_light {
	background-image: url('png/thin-0758_energy_efficiency_saving_light.png');
	background-repeat: no-repeat;
}



.icon-thin-0759_energy_efficiency_saving_light {
	background-image: url('png/thin-0759_energy_efficiency_saving_light.png');
	background-repeat: no-repeat;
}



.icon-thin-0760_weather_sun_summer {
	background-image: url('png/thin-0760_weather_sun_summer.png');
	background-repeat: no-repeat;
}



.icon-thin-0761_weather_cloud {
	background-image: url('png/thin-0761_weather_cloud.png');
	background-repeat: no-repeat;
}



.icon-thin-0762_weather_rain_cloud {
	background-image: url('png/thin-0762_weather_rain_cloud.png');
	background-repeat: no-repeat;
}



.icon-thin-0763_weather_moon_stars_night_sleep {
	background-image: url('png/thin-0763_weather_moon_stars_night_sleep.png');
	background-repeat: no-repeat;
}



.icon-thin-0764_weather_rain_water_drop {
	background-image: url('png/thin-0764_weather_rain_water_drop.png');
	background-repeat: no-repeat;
}



.icon-thin-0765_weather_rain_umbrella {
	background-image: url('png/thin-0765_weather_rain_umbrella.png');
	background-repeat: no-repeat;
}



.icon-thin-0766_weather_snow_flake_winter {
	background-image: url('png/thin-0766_weather_snow_flake_winter.png');
	background-repeat: no-repeat;
}



.icon-thin-0767_weather_wind {
	background-image: url('png/thin-0767_weather_wind.png');
	background-repeat: no-repeat;
}



.icon-thin-0768_weather_tornado_typhoon_wind {
	background-image: url('png/thin-0768_weather_tornado_typhoon_wind.png');
	background-repeat: no-repeat;
}



.icon-thin-0769_weather_cloud_sun {
	background-image: url('png/thin-0769_weather_cloud_sun.png');
	background-repeat: no-repeat;
}



.icon-thin-0770_park_bench_rest_tree_forest {
	background-image: url('png/thin-0770_park_bench_rest_tree_forest.png');
	background-repeat: no-repeat;
}



.icon-thin-0771_park_tree_forest {
	background-image: url('png/thin-0771_park_tree_forest.png');
	background-repeat: no-repeat;
}



.icon-thin-0772_park_tree_forest {
	background-image: url('png/thin-0772_park_tree_forest.png');
	background-repeat: no-repeat;
}



.icon-thin-0773_flower {
	background-image: url('png/thin-0773_flower.png');
	background-repeat: no-repeat;
}



.icon-thin-0774_maple_leaf_canada_tree {
	background-image: url('png/thin-0774_maple_leaf_canada_tree.png');
	background-repeat: no-repeat;
}



.icon-thin-0775_leaf_nature_bio_green {
	background-image: url('png/thin-0775_leaf_nature_bio_green.png');
	background-repeat: no-repeat;
}



.icon-thin-0776_camping_cooking_outside_fireplace {
	background-image: url('png/thin-0776_camping_cooking_outside_fireplace.png');
	background-repeat: no-repeat;
}



.icon-thin-0777_camping_fire_fireplace {
	background-image: url('png/thin-0777_camping_fire_fireplace.png');
	background-repeat: no-repeat;
}



.icon-thin-0778_fire_fireplace {
	background-image: url('png/thin-0778_fire_fireplace.png');
	background-repeat: no-repeat;
}



.icon-thin-0779_wood_ax {
	background-image: url('png/thin-0779_wood_ax.png');
	background-repeat: no-repeat;
}



.icon-thin-0780_camping_tent {
	background-image: url('png/thin-0780_camping_tent.png');
	background-repeat: no-repeat;
}



.icon-thin-0781_camping_director_fisherman_chair {
	background-image: url('png/thin-0781_camping_director_fisherman_chair.png');
	background-repeat: no-repeat;
}



.icon-thin-0782_lighter_fire_zippo {
	background-image: url('png/thin-0782_lighter_fire_zippo.png');
	background-repeat: no-repeat;
}



.icon-thin-0783_swiss_army_knife_camping {
	background-image: url('png/thin-0783_swiss_army_knife_camping.png');
	background-repeat: no-repeat;
}



.icon-thin-0784_army_knife_jungle {
	background-image: url('png/thin-0784_army_knife_jungle.png');
	background-repeat: no-repeat;
}



.icon-thin-0785_mountains_nature {
	background-image: url('png/thin-0785_mountains_nature.png');
	background-repeat: no-repeat;
}



.icon-thin-0786_basecamp_alps_mountains_cabin {
	background-image: url('png/thin-0786_basecamp_alps_mountains_cabin.png');
	background-repeat: no-repeat;
}



.icon-thin-0787_mountains_nature {
	background-image: url('png/thin-0787_mountains_nature.png');
	background-repeat: no-repeat;
}



.icon-thin-0788_gondola_lift_mountains {
	background-image: url('png/thin-0788_gondola_lift_mountains.png');
	background-repeat: no-repeat;
}



.icon-thin-0789_mountaineering {
	background-image: url('png/thin-0789_mountaineering.png');
	background-repeat: no-repeat;
}



.icon-thin-0790_acorn_forest_fruit {
	background-image: url('png/thin-0790_acorn_forest_fruit.png');
	background-repeat: no-repeat;
}



.icon-thin-0791_mushroom_forest_fruit {
	background-image: url('png/thin-0791_mushroom_forest_fruit.png');
	background-repeat: no-repeat;
}



.icon-thin-0792_archery_bow {
	background-image: url('png/thin-0792_archery_bow.png');
	background-repeat: no-repeat;
}



.icon-thin-0793_archery_bow {
	background-image: url('png/thin-0793_archery_bow.png');
	background-repeat: no-repeat;
}



.icon-thin-0794_horseshoe_luck {
	background-image: url('png/thin-0794_horseshoe_luck.png');
	background-repeat: no-repeat;
}



.icon-thin-0795_canoeing_rowing_wild_river {
	background-image: url('png/thin-0795_canoeing_rowing_wild_river.png');
	background-repeat: no-repeat;
}



.icon-thin-0796_nature_green_sprout_plant {
	background-image: url('png/thin-0796_nature_green_sprout_plant.png');
	background-repeat: no-repeat;
}



.icon-thin-0797_flowers_plant {
	background-image: url('png/thin-0797_flowers_plant.png');
	background-repeat: no-repeat;
}



.icon-thin-0798_leaf_tree_forest {
	background-image: url('png/thin-0798_leaf_tree_forest.png');
	background-repeat: no-repeat;
}



.icon-thin-0799_leaf_tree_forest {
	background-image: url('png/thin-0799_leaf_tree_forest.png');
	background-repeat: no-repeat;
}



.icon-thin-0800_leaf_plant_sprout_green {
	background-image: url('png/thin-0800_leaf_plant_sprout_green.png');
	background-repeat: no-repeat;
}



.icon-thin-0801_shovel_ground {
	background-image: url('png/thin-0801_shovel_ground.png');
	background-repeat: no-repeat;
}



.icon-thin-0802_plant_watering {
	background-image: url('png/thin-0802_plant_watering.png');
	background-repeat: no-repeat;
}



.icon-thin-0803_wheelbarrow_farming {
	background-image: url('png/thin-0803_wheelbarrow_farming.png');
	background-repeat: no-repeat;
}



.icon-thin-0804_wheelbarrow_full {
	background-image: url('png/thin-0804_wheelbarrow_full.png');
	background-repeat: no-repeat;
}



.icon-thin-0805_tractor_farming {
	background-image: url('png/thin-0805_tractor_farming.png');
	background-repeat: no-repeat;
}



.icon-thin-0806_gate_farm {
	background-image: url('png/thin-0806_gate_farm.png');
	background-repeat: no-repeat;
}



.icon-thin-0807_bees_honey {
	background-image: url('png/thin-0807_bees_honey.png');
	background-repeat: no-repeat;
}



.icon-thin-0808_bird_house_twitter {
	background-image: url('png/thin-0808_bird_house_twitter.png');
	background-repeat: no-repeat;
}



.icon-thin-0809_snail_shell_house_nautilus {
	background-image: url('png/thin-0809_snail_shell_house_nautilus.png');
	background-repeat: no-repeat;
}



.icon-thin-0810_heart_pulse_rate_health {
	background-image: url('png/thin-0810_heart_pulse_rate_health.png');
	background-repeat: no-repeat;
}



.icon-thin-0811_medicine_health_injection_ill {
	background-image: url('png/thin-0811_medicine_health_injection_ill.png');
	background-repeat: no-repeat;
}



.icon-thin-0812_medicine_patch_injury {
	background-image: url('png/thin-0812_medicine_patch_injury.png');
	background-repeat: no-repeat;
}



.icon-thin-0813_heart_vitals_pulse_rate_health {
	background-image: url('png/thin-0813_heart_vitals_pulse_rate_health.png');
	background-repeat: no-repeat;
}



.icon-thin-0814_kidney_internal_body_part {
	background-image: url('png/thin-0814_kidney_internal_body_part.png');
	background-repeat: no-repeat;
}



.icon-thin-0815_lungs_breathing {
	background-image: url('png/thin-0815_lungs_breathing.png');
	background-repeat: no-repeat;
}



.icon-thin-0816_microscope_laboratory {
	background-image: url('png/thin-0816_microscope_laboratory.png');
	background-repeat: no-repeat;
}



.icon-thin-0817_tube_laboratory_chemistry {
	background-image: url('png/thin-0817_tube_laboratory_chemistry.png');
	background-repeat: no-repeat;
}



.icon-thin-0818_poison_pills_drugs {
	background-image: url('png/thin-0818_poison_pills_drugs.png');
	background-repeat: no-repeat;
}



.icon-thin-0819_poison_deathly_medicine {
	background-image: url('png/thin-0819_poison_deathly_medicine.png');
	background-repeat: no-repeat;
}



.icon-thin-0820_medicine_drugs_ill_pill {
	background-image: url('png/thin-0820_medicine_drugs_ill_pill.png');
	background-repeat: no-repeat;
}



.icon-thin-0821_blood_infusion {
	background-image: url('png/thin-0821_blood_infusion.png');
	background-repeat: no-repeat;
}



.icon-thin-0822_blood_infusion {
	background-image: url('png/thin-0822_blood_infusion.png');
	background-repeat: no-repeat;
}



.icon-thin-0823_hospital_ill_medicine_doctor_ambulance {
	background-image: url('png/thin-0823_hospital_ill_medicine_doctor_ambulance.png');
	background-repeat: no-repeat;
}



.icon-thin-0824_fever_body_temperature_ill {
	background-image: url('png/thin-0824_fever_body_temperature_ill.png');
	background-repeat: no-repeat;
}



.icon-thin-0825_stetoscope_doctor_hospital_ill {
	background-image: url('png/thin-0825_stetoscope_doctor_hospital_ill.png');
	background-repeat: no-repeat;
}



.icon-thin-0826_teeth_tooth_dental {
	background-image: url('png/thin-0826_teeth_tooth_dental.png');
	background-repeat: no-repeat;
}



.icon-thin-0827_body_weight_fitness_health_fat {
	background-image: url('png/thin-0827_body_weight_fitness_health_fat.png');
	background-repeat: no-repeat;
}



.icon-thin-1033_atom_nuclear_learning_physics {
	background-image: url('png/thin-1033_atom_nuclear_learning_physics.png');
	background-repeat: no-repeat;
}



.icon-thin-1034_lab_chemistry_experiment {
	background-image: url('png/thin-1034_lab_chemistry_experiment.png');
	background-repeat: no-repeat;
}



.icon-thin-1035_bomb {
	background-image: url('png/thin-1035_bomb.png');
	background-repeat: no-repeat;
}



.icon-thin-1036_brain_thinking_mind_knowledge {
	background-image: url('png/thin-1036_brain_thinking_mind_knowledge.png');
	background-repeat: no-repeat;
}



.icon-thin-1037_brain_thinking_mind_knowledge {
	background-image: url('png/thin-1037_brain_thinking_mind_knowledge.png');
	background-repeat: no-repeat;
}



.icon-thin-1038_study_university_school_degree_graduate {
	background-image: url('png/thin-1038_study_university_school_degree_graduate.png');
	background-repeat: no-repeat;
}



.icon-thin-1039_brain_thinking_mind_knowledge {
	background-image: url('png/thin-1039_brain_thinking_mind_knowledge.png');
	background-repeat: no-repeat;
}



.icon-thin-1040_mathematics_root_equation {
	background-image: url('png/thin-1040_mathematics_root_equation.png');
	background-repeat: no-repeat;
}



.icon-thin-1041_mathematics_curve_coordinate_system {
	background-image: url('png/thin-1041_mathematics_curve_coordinate_system.png');
	background-repeat: no-repeat;
}



.icon-thin-1042_3d_dimensions_object_coordinate_system {
	background-image: url('png/thin-1042_3d_dimensions_object_coordinate_system.png');
	background-repeat: no-repeat;
}



.icon-thin-1043_mathematics_calculate_add_subtract_divide_multiply {
	background-image: url('png/thin-1043_mathematics_calculate_add_subtract_divide_multiply.png');
	background-repeat: no-repeat;
}



.icon-thin-1044_space_shuttle_aircraft_nasa_rocket {
	background-image: url('png/thin-1044_space_shuttle_aircraft_nasa_rocket.png');
	background-repeat: no-repeat;
}



.icon-thin-1045_space_moon_planet_galaxy_saturn {
	background-image: url('png/thin-1045_space_moon_planet_galaxy_saturn.png');
	background-repeat: no-repeat;
}



.icon-thin-1046_telescope_astronomy_stars_space_galaxy {
	background-image: url('png/thin-1046_telescope_astronomy_stars_space_galaxy.png');
	background-repeat: no-repeat;
}



.icon-thin-1047_alien {
	background-image: url('png/thin-1047_alien.png');
	background-repeat: no-repeat;
}



.icon-thin-1048_spaceship_alien {
	background-image: url('png/thin-1048_spaceship_alien.png');
	background-repeat: no-repeat;
}


